[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gitr"]
	path = gitr
	url = https://github.com/stufield/gitr
	shallow = true
	registered = true
